<footer class="myFooter">
    <div class="container-fluid text-center">
        <div class="row vertical-align footerRow">
            <div class="col-sm-4">
                <a href="/legal" class="legalNotice">Mentions Légales</a>
            </div>
            <div class="col-sm-4">
                <div class="logo-footer"><h3>Entrenous par Entreloups</h3></div>
            </div>
            <div class="col-sm-4">
                <a href="https://facebook.com/entreloups" target="_blank">
                    <i class="fab fa-facebook-f fa-2x sn-icon"></i>
                </a>
                <a href="https://twitter.com/ENTRELOUPS" target="_blank">
                    <i class="fab fa-twitter fa-2x sn-icon"></i>
                </a>
                <a href="https://www.linkedin.com/company/entreloup" target="_blank">
                    <i class="fab fa-linkedin-in fa-2x sn-icon"></i>
                </a>
            </div>
        </div>
    </div>
</footer>