{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/home.css') }}">
{% endblock %}

{% block banner %}
    <div class="container-fluid">
        <div id="container" class="welcome">
            <h1 class="title">Welcome</h1>
        </div>
        <img class="backgrd" src="{{ asset('build/images/accueil.194f2205.jpeg') }}">
    </div>
{% endblock %}

