.footerRow {
  height: auto;
  background-color: $mainColor;
  color: $lightFontColor;
}

.logo-footer {
  font-size: 2.5vh;
}

.legalNotice {
  color: $lightFontColor;
}

.sn-icon {
  padding: 0px 5px 0px 5px;
  color: $lightFontColor;
  font-size: calc(17px + 12 * (100vw - 200px) / 1400);
}

.vertical-align {
  display: flex;
  align-items: center;
}

.myFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}