$mainColor: #007bff;
$lightFontColor: #FFFFFF;
@import "~bootstrap/scss/bootstrap";
@import "footer.scss";
@import "navbar.scss";

@import "~flatpickr/dist/flatpickr.css";

@import url('https://fonts.googleapis.com/css?family=Audiowide|Exo+2');

.row {
  margin: 0;
}

.container-fluid{
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .brand {
  font-family: 'Audiowide', cursive;
}

body {
  font-family: 'Exo 2', sans-serif;
  padding-bottom: 75px;
}

.imgEdition {
  max-width: 200%;
}

p {
  font-size: calc(11px + 10 * (100vw - 200px) / 1400);
}

h1 {
  font-size: calc(20px + 15 * (100vw - 200px) / 1400);
}

h2 {
  font-size: calc(19px + 14 * (100vw - 200px) / 1400);
}
h3 {
  font-size: calc(17px + 12 * (100vw - 200px) / 1400);
}

h4 {
  font-size: calc(15px + 11 * (100vw - 200px) / 1400);
}

h5 {
  font-size: calc(13px + 11 * (100vw - 200px) / 1400);
}

.date {
  font-size: calc(9px + 8 * (100vw - 200px) / 1400);
}

.carousel-item {
  overflow-wrap: break-word;
  height: 200px;
}

.carousel {
  .fa-chevron-left, .fa-chevron-right {
    color: $mainColor;
  }
}

.carousel-indicators {
  bottom: 0px;
  li {
    background-color: #5a6268;
  }
  .active {
    background-color: $mainColor;
  }
}

.editionsList {
  a {
    text-decoration: none;
    color: #000;
  }
}

.btn-primary:not(:disabled):not(.disabled).active {
  background-color: darken($mainColor, 25%);
}