$mainColor: #007bff;
$lightFontColor: #FFFFFF;
@import "~bootstrap/scss/bootstrap";
@import "footer.scss";
@import "navbar.scss";

@import "~flatpickr/dist/flatpickr.css";

@import url('https://fonts.googleapis.com/css?family=Audiowide|Exo+2');

.row {
  margin: 0;
}

.container-fluid{
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Audiowide', cursive;
}

body {
  font-family: 'Exo 2', sans-serif;
  padding-bottom: 75px;
}

.imgEdition {
  max-width: 200%;
}

p {
  font-size: calc(11px + 10 * (100vw - 400px) / 1200);
}

h1 {
  font-size: calc(20px + 15 * (100vw - 400px) / 1200);
}

h2 {
  font-size: calc(19px + 14 * (100vw - 400px) / 1200);
}

h5 {
  font-size: calc(16px + 11 * (100vw - 400px) / 1200);
}
