$mainColor: #007bff;
$lightFontColor: #FFFFFF;
@import "~bootstrap/scss/bootstrap";
@import "footer.scss";
@import "navbar.scss";

@import "~flatpickr/dist/flatpickr.css";

.row {
  margin: 0;
}

.container-fluid{
  padding: 0;
}

body {
  padding-bottom: 75px;
}