{% extends 'base.html.twig' %}

{% block title %}Gestion du Staff{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 shadow">
        <h1>Gestion du Staff de {{ edition.name }}</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    {% for group in groups %}
                        <th>{{ group.name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}