{% extends 'base.html.twig' %}

{% block title %}Notification New{% endblock %}

{% block body %}
    <div class="row my-5">
        <div class="offset-3 col-md-6 shadow">
            <h1 class="text-center my-3">Publier une nouvelle</h1>
            {{ form_start(form) }}
            {{ form_row(form.content, {'label' : '250 caractères maximum :', 'attr' : {'rows' : '4', 'maxlength' : '250'}}) }}
            <button type="submit"  class="btn btn-primary float-right">Publier   <i class="far fa-paper-plane"></i></button>
            {{ form_end(form) }}
            <a href="{{ path('notification_index') }}" class="btn btn-primary mb-3"><i class="fas fa-chevron-left"></i> Liste des nouvelles</a>
        </div>
    </div>
{% endblock %}
