{% extends 'base.html.twig' %}
{% block title %}Liste des évènements{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/event.css') }}">
{% endblock %}

{% block body %}
    <h1 class="mt-5 text-center">Liste des évènements</h1>
    <div class="row">
        {% include 'event/events.html.twig' %}
    </div>
{% endblock %}
