{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <h1 class="text-center m-5">{{ event.title }}</h1>

    <div>

        <section class="d-md-flex justify-content-around">

            <div class="p-0 shadow">
                <a href="#"><img class="img-fluid" src="http://via.placeholder.com/350x350"></a>
            </div>
            <div class="p-0">
                <h3>Info:</h3>
                <p></p>
            </div>
            <div class="p-0">
                <h3>Edition:</h3>
                <p></p>
            </div>
            <div class="p-0">
                <a type="button" class="btn btn-primary" href="#">Participer</a>
            </div>

        </section>

    </div>

    <h1 class="text-center mt-5">News</h1>

    <div>

        <section class="d-flex justify-content-around">

            <div class="p-0 shadow">
                <a href="#"><img class="img-fluid" src="http://via.placeholder.com/250x250"></a>
            </div>
            <div class="p-0 shadow">
                <a href="#"><img class="img-fluid" src="http://via.placeholder.com/250x250"></a>
            </div>
            <div class="p-0 shadow">
                <a href="#"><img class="img-fluid" src="http://via.placeholder.com/250x250"></a>
            </div>
            <div class="p-0 shadow">
                <a href="#"><img class="img-fluid" src="http://via.placeholder.com/250x250"></a>
            </div>

        </section>

    </div>

    <h1 class="text-center mt-5">Galerie</h1>

    <div>

        <section class="d-flex justify-content-around">

            <div class="p-0 shadow">
                <a href="#"><img class="img-fluid" src="http://via.placeholder.com/250x250"></a>
            </div>
            <div class="p-0 shadow">
                <a href="#"><img class="img-fluid" src="http://via.placeholder.com/250x250"></a>
            </div>
            <div class="p-0 shadow">
                <a href="#"><img class="img-fluid" src="http://via.placeholder.com/250x250"></a>
            </div>
            <div class="p-0 shadow">
                <a href="#"><img class="img-fluid" src="http://via.placeholder.com/250x250"></a>
            </div>

        </section>

    </div>

    <div class="text-center m-5">
        <a type="button" class="btn btn-primary" href="{{ path('event_index') }}"><i class="fas fa-chevron-left"> Retour</i></a>
    </div>

{% endblock %}
